.login-container {
    max-width: 450px;
    margin: 1rem auto;
}

.login-container .login-logo {
    text-align: center;
}

.login-container .login-logo img {
    width: 200px;
}

.login-container .login-content {
    border: 1px solid #9999;
    padding: 1rem;
    border-radius: 5px;
    margin: 0 1rem;
}

.login-form {
    margin: 0.7rem 0;
}

.login-form .login-form-content {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.login-form .login-form-content label {
    font-size: 13px;
}

.login-form .login-form-content input {
    padding: 0.5rem;
    background-color: #EAEDED;
    border: 1px solid #9999;
    border-radius: 5px;
    margin: 0.5rem 0;
    outline: none;
}

.login-form .login-button button {
    width: 100%;
    padding: 0.6rem 0;
    background-color: #febd69;
    border: 1px solid #a88733;
    border-radius: 5px;
    font-family: 'AmazonEmber';
    cursor: pointer;
}

.login-form .login-term {
    margin: 1rem 0;
}

.login-form .switch-to-login small {
    color: #777;
}

.login-form .switch-to-login-button button {
    width: 100%;
    padding: 0.6rem 0;
    background-color: #ddd;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-family: 'AmazonEmber';
    cursor: pointer;
    margin: 0.7rem 0 0 0;
}