:root {
    --bg-color: #131921;
    --light-color: #fff;
    --size-1: 0.5rem;
}

header {
    background-color: var(--bg-color);
    color: var(--light-color);
    padding: var(--size-1) 0;
}

header main {
    display: flex;
    align-items: center;
    justify-content: center;
}

header main .main-logo {
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header main .main-logo img {
    /* margin: 0.3rem 0.5rem 0 1rem; */
    /* padding: 0 0.3rem; */
    width: 100px;
}

header main .main-logo:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

header main .header-address {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 1rem;
    padding: 0 0.3rem;
}

header main .header-address:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

header main .header-address p {
    margin: 0 0.5rem;
}

header main .header-address article {
    display: flex;
    flex-direction: column;
}

header main .header-search {
    display: flex;
}

header main .header-search div:nth-child(1) select {
    border: none;
    background-color: #f1f1f1;
    font-family: 'AmazonEmber';
    height: 40px;
    border-radius: 4px 0 0 4px;
    padding: 0 0.5rem;
}

header main .header-search div:nth-child(2) input {
    padding: 0 0.3rem;
    width: 670px;
    height: 40px;
    border: none;
    font-family: 'AmazonEmber';
}

header main .header-search div:nth-child(2) input:focus {
    outline: none;
}

header main .header-search div:nth-child(3) {
    cursor: pointer;
    height: 40px;
}

header .header-search div:nth-child(3) button {
    height: 40px;
    width: 40px;
    background-color: #febd69;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

header main .header-country {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.3rem;
    position: relative;
}

header main .header-country .header-country-choose {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 10;
    background-color: #fff;
    color: #333;
    padding: 1rem;
    border: 1px solid #9999;
    border-radius: 5px;
}

header main .header-country .header-country-choose p {
    border-bottom: 1px solid #f0f0f0;
    padding: 0.7rem;
}

header main .header-country .header-country-choose p:last-child {
    border: none;
}

header main .header-country .header-country-choose .header-country-choose-link {
    display: block;
    margin: 1rem 0 0 0;
}

header main .header-country .header-country-choose p span {
    margin: 0 0.3rem;
}

header main .header-country:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

header main .header-country:hover .header-country-choose {
    display: inline-block;
    top: 45px;
}

header main .header-country p {
    /* margin: 0 0 0.3rem 0; */
    font-size: 13px;
}


header main .header-signin {
    padding: 0 0.3rem;
    position: relative;
}

header main .header-signin .header-signin-card {
    display: none;
    position: absolute;
    min-width: 400px;
    z-index: 10;
    background-color: #fff;
    color: #333;
    padding: 1rem;
    border: 1px solid #9999;
    border-radius: 5px;
}

header main .header-signin .header-signin-card .signin-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

header main .header-signin .header-signin-card .signin-btn button {
    padding: 0.7rem 2.5rem;
    border: none;
    background-color: #febd69;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'AmazonEmber';
}

header main .header-signin .header-signin-card .login-start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    border-bottom: 1px solid #f0f0f0;
    padding: 0.5rem 0;
}

header main .header-signin .header-signin-card .login-start a {
    margin: 0 0.2rem;
    color: #05a;
}

header main .header-country .header-signin-bottom-article .country-flag-m {
    margin: 0 0.2rem 0 0;
}

header main .header-signin .header-signin-bottom-article {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

header main .header-signin .header-signin-bottom-article h5 {
    margin: 0 0.1rem 0 0;
}

header main .header-signin p {
    font-size: 13px;
}

header main .header-signin:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

header main .header-signin:hover .header-signin-card {
    display: block;
    top: 45px;
    right: -40px;
}

header main .header-signin .header-signin-card .login-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header main .header-signin .header-signin-card .login-content div:nth-child(2) {
    border-left: 1px solid #f0f0f0;
    padding: 1rem;
}

header main .header-signin .header-signin-card .login-content div:nth-child(2) p {
    margin: 0.5rem 0;
    font-size: 12px;
}

header main .header-signin .header-signin-card .login-content div:nth-child(1) {
    padding: 1rem;
}

header main .header-signin .header-signin-card .login-content div:nth-child(1) p {
    margin: 0.5rem 0;
    font-size: 12px;
}

header main .header-signin .header-signin-card .login-content div p:hover {
    color: #febd69;
    text-decoration: underline;
}



header main .header-r-o {
    margin: 0 1rem;
    padding: 0 0.3rem;
}

header main .header-r-o p {
    font-size: 13px;
}

header main .header-r-o:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}


header main .header-basket {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 0.3rem;
}

header main .header-basket:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

header main .header-basket .product-count {
    position: absolute;
    top: 7px;
    background-color: #febd69;
    color: #333;
    border-radius: 50%;
    padding: 0.1rem 0.2rem;
}

/* Sub menu */

#sub-menu {
    background-color: #232f3e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sub-menu ul {
    display: flex;
    align-items: center;
    height: 50px;
    /* padding: 11px; */
}

#sub-menu ul li {
    display: flex;
    margin: 0 0.5rem;
    padding: 0.3rem 0.1rem;
}


#sub-menu ul li h4 {
    margin: 0 0.5rem;
}

#sub-menu ul li:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

#sub-menu ul li p {
    font-size: 14px;
    font-weight: bold;
}

/* Hero */

#hero {
    max-width: 1500px;
    padding: 0 2rem;
    margin: auto;
    /* overflow: hidden; */
    /* z-index: -100 !important; */
}

#hero img {
    width: 100%;
    height: auto;
}


.swiper-button-next {
    color: #000;
    transition: all 0.4s ease;
}

.swiper-button-next::after {
    font-size: 30px;
    font-weight: 900;
    padding: 0.4rem 0.5rem;
    width: 21px;
    height: 21px;
    border-radius: 50%;
}

.swiper-button-prev {
    color: #000;
    transition: all 0.4s ease;
}

.swiper-button-prev::after {
    font-size: 30px;
    font-weight: 900;
    padding: 0.4rem 0.5rem;
    width: 21px;
    height: 21px;
    border-radius: 50%;

}

#hero-product {
    max-width: 1500px;
    padding: 0 1.2rem;
    margin: 2rem auto;
    overflow: hidden;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
}

#hero-product aside {
    position: absolute;
    color: #333;
    /* width: 500px; */
    /* height: 50px; */
    padding: 1rem;
    margin: -10rem 0;
    z-index: 1 !important;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* display: flex !important;
    align-items: flex-start;
    justify-content: center; */
}

#hero-product aside div {
    padding: 1rem;
    background-color: #fff;
    margin: 0 0.22rem;
    border-radius: 5px;
}

#hero-product aside div h4 {
    font-weight: 900;
}

#hero-product aside div .column {
    display: flex;
}

#hero-product aside div .column img {
    width: 100px;
}

#hero-product aside div .column .column-1,
#hero-product aside div .column .column-2 {
    display: flex;
    flex-direction: column;
}

#hero-product aside div .column .column-1 p,
#hero-product aside div .column .column-2 p {
    font-size: 12px;
    margin: 0.2rem;
}

/* #hero-product aside div .column-info {
    background-color: ;
} */

#hero-product aside .column-info div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-product aside .column-info div img {
    width: 100%;
    height: auto;
}

#hero-product aside .column-info div button {
    background-color: #FFD814;
    font-family: 'AmazonEmber';
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.5rem 0;
    cursor: pointer;
}

#hero-product aside .column-single-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
}


#hero-product aside .column-single-product img {
    width: 320px;
    height: 100%;
    margin: 0.5rem 0;
}

#independ-product {
    max-width: 1500px;
    margin: 16rem auto 0 auto;
    padding: 2rem;
}


#independ-product aside {
    color: #333;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

#independ-product aside div {
    padding: 1rem;
    background-color: #fff;
    margin: 0 0.22rem;
    border-radius: 5px;
}

#independ-product aside div h4 {
    font-weight: 900;
}

#independ-product aside div .column {
    display: flex;
}

#independ-product aside div .column img {
    width: 100px;
}

#independ-product aside div .column .column-1,
#independ-product aside div .column .column-2 {
    display: flex;
    flex-direction: column;
}

#independ-product aside div .column .column-1 p,
#independ-product aside div .column .column-2 p {
    font-size: 12px;
    margin: 0.2rem;
}

#independ-product aside .column-single-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
}


#independ-product aside .column-single-product img {
    width: 320px;
    height: 100%;
    margin: 0.5rem 0;
}


#product-slider {
    margin: 1rem 0 3rem 0;
    background-color: #fff;
    padding: 2rem;
}

#product-slider .product-slider-container {
    max-width: 1500px;
    padding: 0 2rem;
    margin: 0 auto;
}



#product-slider .swiper-button-next {
    right: 0;
    top: 80px;
    background-color: #fff;
    padding: 1.5rem 0;
    color: #333;
    box-shadow: 1px 1px 10px rgb(000000, 000000, 000000, 30%);
}

#product-slider .swiper-button-next::after {
    font-size: 22px;
}

#product-slider .swiper-button-prev {
    left: 0;
    top: 80px;
    background-color: #fff;
    padding: 1.5rem 0;
    color: #333;
    box-shadow: 1px 1px 10px rgb(000000, 000000, 000000, 30%);
    ;
}

#product-slider .swiper-button-prev::after {
    font-size: 22px;
}

/* Product Category */

#product-category {
    max-width: 1500px;
    margin: -1rem auto -1rem auto;
    padding: 2rem;
}


#product-category aside {
    color: #333;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

#product-category aside div {
    padding: 1rem;
    background-color: #fff;
    margin: 0 0.22rem;
    border-radius: 5px;
}

#product-category aside div h4 {
    font-weight: 900;
}

#product-category aside div .column {
    display: flex;
}

#product-category aside div .column img {
    width: 100px;
}

#product-category aside div .column .column-1,
#product-category aside div .column .column-2 {
    display: flex;
    flex-direction: column;
}

#product-category aside div .column .column-1 p,
#product-category aside div .column .column-2 p {
    font-size: 12px;
    margin: 0.2rem;
}

#product-category aside .column-single-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
}


#product-category aside .column-single-product img {
    width: 320px;
    height: 100%;
    margin: 0.5rem 0;
}