:root {
    --bg-color: #131921;
    --light-color: #fff;
    --size-1: 0.5rem;
}

header {
    background-color: var(--bg-color);
    color: var(--light-color);
    padding: var(--size-1);
    height: 50px;
}

header main .main-logo img {
    width: 100px;
    padding: 0.3rem;
    margin: 0.2rem 0.5rem 0 0.5rem;
}

header main .main-logo img:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}