#product-slider {
    margin: 1rem 0 2rem 0;
    background-color: #fff;
    padding: 1rem 0;
}

#product-slider h3 {
    margin: 1rem 0 1.5rem 3rem;
    font-weight: bold;
}

#product-slider .product-slider-container {
    max-width: 1500px;
    /* padding: 0 2rem; */
    margin: 0 auto;
}

#product-slider .product-slider-container .product-gallery {
    text-align: center;
}

#product-slider .product-slider-container .product-gallery p {
    margin: 0.5rem 0;
}


#product-slider .swiper-button-next {
    right: 0;
    top: 80px;
    background-color: #fff;
    padding: 1.5rem 0;
    color: #333;
    box-shadow: 1px 1px 10px rgb(000000, 000000, 000000, 30%);
    border-radius: 5px;
}

#product-slider .swiper-button-next::after {
    font-size: 22px;
}

#product-slider .swiper-button-prev {
    left: 0;
    top: 80px;
    background-color: #fff;
    padding: 1.5rem 0;
    color: #333;
    box-shadow: 1px 1px 10px rgb(000000, 000000, 000000, 30%);
    border-radius: 5px;
}

#product-slider .swiper-button-prev::after {
    font-size: 22px;
}

#product-slider img {
    width: auto;
    height: 200px;
}