* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'AmazonEmber';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'AmazonEmber';
    background-color: #EAEDED;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #333;
}


@import url('./ProductCategory/productcategory.css');
@import url('./ProductDetails/productdetails.css');
@import url('./ProductSlider/productslider.css');
@import url('./ProductList/productlist.css');
@import url('./ProductRow/productrow.css');
@import url('./Sponsored/sponsored.css');
@import url('./Checkout/checkout.css');
@import url('./Account/account.css');
@import url('./Header/header.css');
@import url('./Footer/footer.css');
@import url('./Mobile/mobile.css');
@import url('./Signup/signup.css');
@import url('./Orders/orders.css');
@import url('./Login/login.css');
@import url('./Error/error.css');
@import url('./Hero/hero.css');
@import url('./Menu/menu.css');