.mobile-header {
    background-color: #232f3e;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0 0 0;
}

.mobile-header div {
    margin: 0 0.6rem;
}

.mobile-header .img-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.mobile-header .img-menu ul li {
    margin: 0 0.3rem 0 0;
}

.mobile-header .img-menu ul li:nth-child(1) {
    align-self: center;
    cursor: pointer;
}

.mobile-header .img-menu ul li:nth-child(2) div img {
    width: 70px;
    margin: 0.7rem 0 0 0;
}

.mobile-header .info-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-header .info-menu-link {
    color: #fff;
}

.mobile-header .info-menu div:nth-child(1) {
    display: flex;
}

.mobile-header .info-menu .header-basket {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    /* padding: 0; */
}

.mobile-header .info-menu .header-basket .product-count {
    position: absolute;
    top: 0;
    background-color: #febd69;
    color: #333;
    border-radius: 50%;
    padding: 0.1rem 0.2rem;
}

.mobile-search {
    background-color: #232f3e;
    display: none;
    padding: 0.7rem;
    border-bottom: none !important;
}

.mobile-search div:nth-child(1) {
    width: 100%;
}

.mobile-search div:nth-child(1) input {
    padding: 0 0.3rem;
    width: 100%;
    height: 32px;
    border: none;
    font-family: 'AmazonEmber';
    border-radius: 4px 0 0 4px;
}

.mobile-search div:nth-child(1) input:focus {
    outline: none;
}

.mobile-search div:nth-child(2) {
    cursor: pointer;
    height: 32px;
}

.mobile-search div:nth-child(2) button {
    height: 32px;
    width: 40px;
    background-color: #febd69;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.mobile-deals {
    background-color: #232f3e;
    color: #fff;
    display: none;
}

.mobile-deals ul {
    display: flex;
    list-style: none;
}

.mobile-deals ul li {
    margin: 0 0.5rem;
    padding: 0.7rem 0;
}

.mobile-deals ul li p {
    font-size: 12px;
}

.mobile-deals ul li p:hover {
    color: orange;
    cursor: pointer;
}

.mobile-deliver {
    background-color: #37475A;
    color: #fff;
    font-size: 12px;
    padding: 0.7rem 0;
    display: none;
    align-items: center;
}

.mobile-deliver div:nth-child(1) {
    margin: 0 0.5rem;
}

.mobile-header .info-menu a {
    color: #fff;
}

@media screen and (max-width:1439px) {
    .mobile-header {
        display: flex;
    }

    .mobile-search {
        display: flex;
    }

    .mobile-deliver {
        display: flex;
    }

    .mobile-deals {
        display: block;
    }

    #sub-menu, header, header main {
        display: none !important;
    }
}